<div id="<%= dom_id user_activity %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">User:</strong>
    <%= user_activity.user_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Activity type:</strong>
    <%= user_activity.activity_type %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Title:</strong>
    <%= user_activity.title %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Description:</strong>
    <%= user_activity.description %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Icon:</strong>
    <%= user_activity.icon %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Color:</strong>
    <%= user_activity.color %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Reference:</strong>
    <%= user_activity.reference_id %>
  </div>
</div>
