<div id="<%= dom_id notification %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">User:</strong>
    <%= notification.user_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Title:</strong>
    <%= notification.title %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Message:</strong>
    <%= notification.message %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Status:</strong>
    <%= notification.status %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Notification type:</strong>
    <%= notification.notification_type %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Notifiable:</strong>
    <%= notification.notifiable_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Read at:</strong>
    <%= notification.read_at %>
  </div>
</div>
