<div id="<%= dom_id product_question %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Product:</strong>
    <%= product_question.product_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">User:</strong>
    <%= product_question.user_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Asked by:</strong>
    <%= product_question.asked_by %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Question:</strong>
    <%= product_question.question %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Answer:</strong>
    <%= product_question.answer %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Answered by:</strong>
    <%= product_question.answered_by %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Answered at:</strong>
    <%= product_question.answered_at %>
  </div>
</div>
