<%= form_with(model: product_image, class: "contents") do |form| %>
  <% if product_image.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-md mt-3">
      <h2><%= pluralize(product_image.errors.count, "error") %> prohibited this product_image from being saved:</h2>

      <ul class="list-disc ml-6">
        <% product_image.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :product_id %>
    <%= form.text_field :product_id, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": product_image.errors[:product_id].none?, "border-red-400 focus:outline-red-600": product_image.errors[:product_id].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :position %>
    <%= form.number_field :position, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": product_image.errors[:position].none?, "border-red-400 focus:outline-red-600": product_image.errors[:position].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :alt_text %>
    <%= form.text_field :alt_text, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": product_image.errors[:alt_text].none?, "border-red-400 focus:outline-red-600": product_image.errors[:alt_text].any?}] %>
  </div>

  <div class="inline">
    <%= form.submit class: "w-full sm:w-auto rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
