<div id="<%= dom_id cart_item %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Cart:</strong>
    <%= cart_item.cart_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Product:</strong>
    <%= cart_item.product_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Quantity:</strong>
    <%= cart_item.quantity %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Price:</strong>
    <%= cart_item.price %>
  </div>
</div>
