<div id="<%= dom_id review %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">User:</strong>
    <%= review.user_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Product:</strong>
    <%= review.product_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Rating:</strong>
    <%= review.rating %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Content:</strong>
    <%= review.content %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Published:</strong>
    <%= review.published? ? "Yes" : "No" %>
  </div>
</div>
